<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новая книга</title>
</head>
<body>
<form th:method="POST" th:action="@{/books}" th:object="${book}">
    <label for="title">Введите название книги: </label>
    <input type="text" th:field="*{title}" id="title"/>
    <br>
    <label for="author">Введите автора: </label>
    <input type="text" th:field="*{author}" id="author"/>
    <br>
    <label for="year">Введите год: </label>
    <input type="text" th:field="*{year}" id="year"/>
    <br>
    <input type="submit" value="Добавить книгу"/>
</form>
</body>
</html>